@import "tailwindcss";
@plugin "daisyui";

@keyframes toast-progress {

  from {
    width: 100%;
  }

  to {
    width: 0%;
  }

}

/* .toast-process-paused {
  animation-play-state: paused !important
} */